
@using (Ajax.Replace(id: "multi-update-div"))
{
    
    <div class="after-update-style">This is the new element.</div>

}

@using (Ajax.Window(title: "Multiple Updates"))
{
    <h4>Multiple updates can be sent in a single response.</h4>
}