@{
    ViewBag.Title = "Change Password";
}

@using (Ajax.Update(title: ViewBag.Title as string, address: Url.Action("ChangePasswordSuccess", "Account")))
{

    <h2>Change Password</h2>
    <p>
        Your password has been changed successfully.
    </p>
    
}
